body {
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Nunito Sans', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  font-size: 18px;
}

h2 {
  font-size: 25px;
}

#logo {
  height: 30px;
}

/* the code below changes the color of the panel */
.panel-primary {
  border-color: #f5793d;
}

.panel-primary>.panel-heading {
  color: #000;
  background-color: #f5793d;
  border-color: #f5793d;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #f5793d;
}

.panel-primary>.panel-heading .badge {
  color: #f5793d;
  background-color: #fff;
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #f5793d;
}

.results, #questions, .heading {
  display: none;
}
